{% extends "base.html" %}

{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">
{% endblock %}

{% block title %}
    Меню
{% endblock  %}

{% block content %}
    <h1>Додаток Гороскоп</h1>
    <ul>
        {%for element in zodiacs %}
        <!--href без / на початку  додається до попередньої адреси- -->
        <!--href з / на початку  будується нова адреса- -->
        <!--Варіант 3    -->

             <li><a href="{% url 'horoscope-name' sign_zodiac=element %}">{{ element|title }}</a></li>

        {% endfor %}
    </ul>


{% endblock %}



<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Меню</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->