{% extends "horoscope/base.html" %}

{% block title %}
    Меню
{% endblock  %}

{% block content %}

{% include "includes/navbar.html" only with a=100 b=200 %}
<p>------------------- zodiacs----------------</p>

    {%for element in zodiacs %}
    <!--href без / на початку  додається до попередньої адреси- -->
    <!--href з / на початку  будується нова адреса- -->

    <!--Варіант 1-->
    <!--    <li><a href="/horoscope/{{element}}">{{ element|title }}</a></li>-->

    <!--Варіант 2    -->
    <!--<li><a href="{{element}}">{{ element|title }}</a></li>-->

    <!--Варіант 3    -->
    <li><a href="{% url 'horoscope-name' sign_zodiac=element %}">{{ element|title }}</a></li>

    {% endfor %}

{% include "includes/navbar.html" %}

{% endblock %}



<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Меню</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->